.kanban {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
	background-image: url('https://parket-wood.ru/image/cache/catalog/Katalog/Himiya/Maslo/002-maslo-osmo-tverdyi-vosk/3232-1300x1300.jpg');
	border-radius: 5px;
}

.kanban * {
	font-family: sans-serif;
}

.kanban__column {
	flex: 1;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-style: solid;
}

.kanban__column:not(:last-child) {
	margin-right: 0px;
}

.kanban__column-title {
	font-family: 'Permanent Marker';
	border-bottom-style: solid;
		text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
	color: black;
	user-select: none;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
